<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel=icon href="">
    <title>Artisan</title>
    <link href="http://localhost/slimapp/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost/slimapp/css/dashboard.css" rel="stylesheet">
    <link href="static/css/app.51004bcc3bcd303bec652e55d22b7be8.css" rel="stylesheet">
</head>
<body>
    <div id="main"></div>
    {{ crsf_field() | raw }}
    <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script type="text/javascript" src="static/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script type="text/javascript" src="static/js/vendor.20feefa5e6dc7d59f271.js"></script>
    <script type="text/javascript" src="static/js/app.90a931c31bd7029d5703.js"></script>
    <script>
        feather.replace();
    </script>
</body>
</html>