<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Artisan</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <link href="static/css/app.5c594ceb0203b3396c79b8fc2e6fe7c8.css" rel="stylesheet">
  </head>

  <body>
      <div id="main"></div>
      {{ crsf_field() | raw }}
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script type="text/javascript" src="static/js/manifest.37a2ecbb1d1b7e6c9ada.js"></script>
	<script type="text/javascript" src="static/js/vendor.2092b73a3bdc3bea4028.js"></script>
	<script type="text/javascript" src="static/js/app.6e193fa66fa8a9eb2453.js"></script>
  </body>
</html>