<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Artisan</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost/slimapp/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://localhost/slimapp/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
      <div id="main"></div>
      {{ crsf_field() | raw }}
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script type="text/javascript" src="static/js/manifest.37a2ecbb1d1b7e6c9ada.js"></script>
	<script type="text/javascript" src="static/js/vendor.62b7bbbb17475f2a51d4.js"></script>
	<script type="text/javascript" src="static/js/app.7b6ab9e5a0298e9d4d9a.js"></script>
  </body>
</html>