<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Artisan</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <link href="static/css/app.c342f35c06e3b9141655032f57c75cfd.css" rel="stylesheet">
  </head>

  <body>
      <div id="main"></div>
      {{ crsf_field() | raw }}
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script type="text/javascript" src="static/js/manifest.37a2ecbb1d1b7e6c9ada.js"></script>
	<script type="text/javascript" src="static/js/vendor.e36a74593c585ef75283.js"></script>
	<script type="text/javascript" src="static/js/app.d5a4af41f4f7c2c9dd8d.js"></script>
  </body>
</html>